* {
  box-sizing: border-box;
  font: inherit;
}
body{
  margin: 0;
  min-height: 100vh;
}
p{
  margin: 8px;
}
h3{
  text-align: center;
}
#background{
  min-height: 100vh;
  height: auto;
  width: 100%;
  float: left;
  background-color: #fff
}

#center{
  width: 60%;
  margin: 60px auto;
  padding: 3%;
  background-color: #ffffff;
  border: solid 2px black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input{
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  border: solid 1px #333;
  box-shadow: 1px 1px rgba(64, 64, 64, 0.3);
}
#rgb_inputs{
  width: calc(53pt * 3  + 2px * 3 + 5px);
  margin: 10px auto;
  overflow: auto
}
.rgb_input{
  float: left;
  width: 50pt;
  margin: 2px;
}

#hex_input{
  width: 24%;
  margin: 0 38%;
  margin-top: 10px;
}
#tints, #shades{
  width: 100%;
  overflow: auto
}
.tint, .shade{
  height: 100px;
  width: 9.1%;
  margin: 2px;
  border: solid 2px #000;
  background-color: #fff;
  float: left;
}
.tint:hover, .shade:hover{
  cursor:pointer;
}

button:hover{
  cursor: pointer;
}
#random_color{
  width: 24%;
  margin: 10px 38%;
}
#random_specific_color{
  width: 25%;
  margin: auto;
}
