* {
  box-sizing: border-box;
  font: inherit;
}
body{
  margin: 0;
  min-height: 100vh;
}
p{
  margin: 8px;
}
h3{
  text-align: center;
  font-size: 14pt;
}
#background{
  min-height: 100vh;
  height: auto;
  width: 100%;
  float: left;
  background-color: #fff
}

#center{
  width: 60%;
  margin: 60px auto;
  padding: 3%;
  background-color: #fafafa;
  border: solid 3px #777;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input{
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  border: solid 1px #333;
  box-shadow: 1px 1px rgba(64, 64, 64, 0.3);
}
#rgb_inputs{
  width: calc(51pt * 3  + 2px * 3 + 5px);
  margin: 10px auto;
  overflow: auto;
}
.rgb_input{
  float: left;
  width: 50pt;
  margin: 2px;
}

#hex_input{
  width: 24%;
  margin: 0 38%;
  margin-top: 10px;
}

#current_color_container{
  margin: auto;
  padding: 10px 50px;
  height: 22%;
  display: flex;
  align-items: center;
}
#current_color{
  background-color: #fff;
  border: solid 2px black;
  width: 25%;
  height: 100%;
  margin: 0 10px;
}
#current_color_name{
  color: #222;
  margin: 0 10px;
  width: 43pt;
}
#random_color_buttons{
  width: 35%;
  max-height: 100%;
  margin: auto;
  text-align: center;
  overflow: auto;
}
#random_color_buttons h3{
  margin: auto;
  margin-top: 10px;
}
#random_color{
  margin: auto;
}

#tints, #shades{
  width: 100%;
  overflow: auto
}
.tint, .shade{
  height: 100px;
  width: 9.1%;
  margin: 2px;
  border: solid 2px #000;
  background-color: #fff;
  float: left;
  text-align: center;
}
.tint:hover, .shade:hover{
  cursor:pointer;
}
.tint_name, .shade_name{
  margin: 0;
  /*line-height same as .tint, .shade height */
  line-height: 100px;
}
.tint_name{
  color: #000;
}
.shade_name{
  color: #fff;
}

button:hover{
  cursor: pointer;
}
